@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-edit:before {
  content: "\e911";
}
.icon-key:before {
  content: "\e912";
}
.icon-im:before {
  content: "\e913";
}
.icon-king:before {
  content: "\e914";
}
.icon-order:before {
  content: "\e915";
}
.icon-car:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-love:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e907";
}
.icon-phone:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-pencil:before {
  content: "\e916";
}
.icon-heart2:before {
  content: "\e9da";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-arrow_drop_down:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e90a";
}
.icon-chevron-left:before {
  content: "\e900";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-chevron-up:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-trash-2:before {
  content: "\e90d";
}
.icon-x:before {
  content: "\e910";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-cart:before {
  content: "\e90f";
}